<h1>Rad Lib</h1>

<p>Choose your adventure:</p>

<ul>
	<li>
		<%= link_to "Random News", news_index_path %>
	</li>
	<li>
		<%= link_to "Wiki-Bound", news_index_path %>
	</li>
	<li>
		<%= link_to "The Wrong Lyrics", news_index_path %>
	</li>
</ul?
