<h1>News Entries</h1>

<p>
Here are some answer sets that other people have already created.
</p>

<ul>
	<% @examples.each do |ex| %>
	<li>
		<%= link_to ex[:title], news_entry_path(ex) %>
	</li>


<%#<li>
		<%= link_to @link_text, controller: :news_entries, action: :show, title: "WAT?" %>
<%#</li>
	<li>
		<%= link_to "Here's an example link", "/news_entries/show?title=Hello&person=Bob%20Dole" %>
<%#</li>
	<li>
		<a href="/news_entries/show?title=Hello&person=Bob%20Dole">Here's an example link</a>
	</li> %>



	<% end %>
</ul>
