<h1>News Entries</h1>

<p>
Here are some answer sets that other people have already created.
</p>

<ul>
	<% @examples.each do |ex| %>
	<li>
		<%= link_to ex[:title], news_entry_path(ex) %>
	</li>

	<% end %>
</ul>
